<div class="card-box-a card-shadow">
    <div class="img-box-a">
      <img [src]="property.images[0].url" alt="" class="img-a img-fluid">
    </div>
    <div class="card-overlay">
      <div class="card-overlay-a-content">
        <div class="card-header-a">
          <h2 class="card-title-a">
            <a [routerLink]="['/properties', property.id]">{{ property.title }}</a>
          </h2>
        </div>
        <div class="card-body-a">
          <div class="price-box d-flex">
            <span class="price-a">{{property.price.type}} | {{ property.price.amount }} {{property.price.currency}}</span>
          </div>
          <a [routerLink]="['/properties', property.id]" class="link-a">Click here to view
            <span class="bi bi-chevron-right"></span>
          </a>
        </div>
        <div class="card-footer-a">
          <ul class="card-info d-flex justify-content-around">
            <li>
              <h4 class="card-info-title">Area</h4>
              <span>{{ property.features.area }}m²</span>
            </li>
            <li>
              <h4 class="card-info-title">Beds</h4>
              <span>{{ property.features.beds }}</span>
            </li>
            <li>
              <h4 class="card-info-title">Baths</h4>
              <span>{{ property.features.baths }}</span>
            </li>
            <li>
              <h4 class="card-info-title">Garages</h4>
              <span>{{ property.features.garages }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  